	#mytd {padding: 2px 9px 0px 8px; cursor:hand; font-size: 9pt; color: #404040}
	#mylink {color: #333333; text-decoration: none}
	#mylink:link {color: #333333; text-decoration: none}
	#mylink:visited {color: #333333; text-decoration: none}
	#mylink:hover {color: #999999; text-decoration: underline}

	form {display:inline}
	body, th, caption, li, input, button, select, textarea, p, td {FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: ±¼¸², Gulim;}	

	img {border:0px none;}
	input {FONT-FAMILY:µ¸¿ò;  FONT-SIZE:12px; BORDER:#C7C7C7 1px solid; COLOR:#525252; HEIGHT:18px;}

  textarea   {FONT-FAMILY:µ¸¿ò; FONT-SIZE:12px; COLOR:#525252; background:#FFFFFF; BORDER:#C7C7C7 1px solid; PADDING:4px;
              scrollbar-track-color:#FFFFFF; scrollbar-face-color:#FFFFFF;
              scrollbar-3dlight-color:#FFFFFF; scrollbar-highlight-color:#FFFFFF;
              scrollbar-shadow-color:#FFFFFF; scrollbar-darkshadow-color:#FFFFFF;
              scrollbar-arrow-color:#DDDDDD;}

	.no_Line		{border:none; height:auto;}
	
	.CateListForm{font-size:12px}
	.CateWriteForm{font-size:12px}
	.smallFont {font-family:"Tahoma", "±¼¸²", "±¼¸²Ã¼","Verdana"; font-size:10px}
	.smallFontH {font-family:"±¼¸²", "±¼¸²Ã¼","Verdana"; font-size:11px}
	
	.write_table_left { width:110px; height:31px; padding-left:15px; text-align:left; COLOR:#249F98; font-family:"±¼¸²", "±¼¸²Ã¼","Verdana"; font-size:9pt; font-weight:bold; padding:-5px; background-color:#EDF6F5}
	.write_table_right {height:25px; padding-left:7px; background-color:#FFFFFF; padding-top:5px; padding-bottom:5px;}

	.pdt5 {padding-top:5px}
	.pdb5 {padding-bottom:5px}
	.pdr5 {padding-right:5px}
	.pdl5 {padding-left:5px}
	.pdt10 {padding-top:5px}
	.pdb10 {padding-bottom:10px}
	.pdr10 {padding-right:10px}
	.pdl10 {padding-left:10px}
	.pda5 {padding:5px}
	.pda10 {padding:10px}
	
	.listLine1 {background-color:#34BEBB}
	.listLine2 {background-color:#ACDACE}
	
	.writeLine1 {background-color:#34BEBB}
	.writeLine2 {background-color:#ACDACE}
	.writeLine3 {background-color:#DFE0E0}
	
	.viewLine1 {background-color:#34BEBB}
	.viewLine2 {background-color:#ACDACE}
	.viewLine3 {background-color:#FFFFFF}
	.viewLine4 {background-color:#C3ECEA}
	.viewLine5 {background-color:#EFEFEF}
	.viewLine6 {background-color:#F5F5F5}

	.cmtLine1 {background-color:#ACDACE}
	.cmtLine2 {background-color:#FAFAFA}
	.cmtLine3 {background-color:#C3ECEA}
	.cmtLine4 {background-color:#34BEBB}
	.cmtLine5 {background-color:#DFE0E0}

	.cmtBG1 {background-color:#EDF6F5}

	.commLine1 {background-color:#34BEBB}
	.commLine2 {background-color:#ACDACE}
	.commTitle {COLOR:#249F98; font-family:"±¼¸²", "±¼¸²Ã¼","Verdana"; font-size:9pt; font-weight:bold; background-color:#EDF6F5; height:28px}

	.view_table_left {COLOR:#249F98; font-family:"±¼¸²", "±¼¸²Ã¼","Verdana"; font-size:9pt; font-weight:bold; background-color:#EDF6F5; height:28px; padding-left:15px}

	.listTop {height:31px; background-color:#EDF6F5; COLOR:#249F98; font-weight:bold}