TABLE, BODY, INPUT, SELECT, TEXTAREA
{
	font-size: 12px;
	color: #666666;
	font-style: normal;
	font-family: "µ¸¿ò", "µ¸¿òÃ¼" "verdana"
	line-height: 18px;
	margin: "0";
	word-spacing: 0px;
}

BODY {
	scrollbar-face-color: #F2F2F2;
	scrollbar-shadow-color: #B7B7B7;
	scrollbar-highlight-color: #F2F2F2;
	scrollbar-3dlight-color: #F2F2F2;
	scrollbar-darkshadow-color: #E9E9E9;
	scrollbar-track-color: #E9E9E9;
	scrollbar-arrow-color: #999999;
}

TEXTAREA
{
 	border:0px solid #D0D0D0;
	LINE-HEIGHT: 17px;
	padding:0 5 0 5;
	background-color:#F3F3F3;
	scrollbar-face-color: #f7f7f7;
	scrollbar-shadow-color: #cccccc;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #333333;
	overflow: 1;
}

/**** link ****/

A:link {COLOR: #5B5B5B; TEXT-DECORATION: none}
A:visited {COLOR: #5B5B5B; TEXT-DECORATION: none}
A:active {COLOR: #5B5B5B; TEXT-DECORATION: none}
A:hover {COLOR: #C61565; text-decoration: none;}

/**** TD ****/
.td_basic{
	font-size:12px; line-height:20px; aling:center; padding: 0 5 0 5;}

.td_redtext{ color: #FF3300;}

/**** form ****/
.font_white{  font-size:12px; line-height:16px; aling:center; color: #FFFFFF;}
.font_bule{  font-size:12px; line-height:16px; aling:center; color: #00FFFF;}
.font_green{  font-size:12px; line-height:16px; aling:center; color: #00FF00;}
.font_yellow{  font-size:12px; line-height:16px; aling:center; color: #FFF200;}
.font_wine{  font-size:12px; line-height:16px; aling:center; color: #67013F;}
.font_brown{  font-size:12px; line-height:16px; aling:center; color: #662303;}
.font_purple{  font-size:12px; line-height:16px; aling:center; color: #662D91;}

.font_s_white{  font-size:11px; line-height:16px; aling:center; color: #FFFFFF;}
.font_s_pink{  font-size:11px; line-height:16px; aling:center; color: #F49AC1;}
.font_s_black{  font-size:11px; line-height:16px; aling:center; color: #303030;}
.font_s_purple{  font-size:11px; line-height:16px; aling:center; color: #BAA9C0;}
/*
INPUT.text {
	margin:0px;
	HEIGHT:18px;
	border:1px solid #D0D0D0;
	padding:0 5 0 5;
	background-color: #F3F3F3;
	}
*/

INPUT.text {BORDER:#cccccc 1px solid; HEIGHT:18px; background:#ffffff;}
INPUT.text_login {BORDER:#E5E5E5 1px solid; HEIGHT:18px; background:#ffffff;}
INPUT.radio	{ HEIGHT: 15px }
INPUT.checkbox { HEIGHT: 15px }
.box {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #666666; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #f3f3f3
}

.small {FONT-SIZE: 8pt; FONT-FAMILY: "µ¸¿ò"; LETTER-SPACING: -1px}
.small2 {FONT-SIZE: 8pt; FONT-FAMILY: "µ¸¿ò"; LETTER-SPACING: 2px}
.small3 {FONT-SIZE: 8pt; FONT-FAMILY: "µ¸¿ò","verdana"; LETTER-SPACING: 0px}
.small4 {FONT-SIZE: 7pt; FONT-FAMILY: "verdana"; LETTER-SPACING: 0px}
.height {line-height: 18px;}
.hidden{position:absolute;visibility:hidden}
.num {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
.cast	{color:#A48EE2}
.cast_b	{color:#A48EE2;font-weight:bold}
.txt_yellow_b {color:#FFBC33;font-weight:bold} /* previewPop ¿µÈ­Á¦¸ñ : 040526 °øÀÎ½Ä Ãß°¡ */

/* °øÅë select box */
.c_select {color: #666666;Background-color:#FFFFFF; FONT-FAMILY: verdana,arial; FONT-SIZE: 9pt; text-decoration:none}.green01 { color: #90B00C; FONT-FAMILY: "µ¸¿ò", "arial"; FONT-SIZE: 9pt; text-decoration:none;line-height:13pt }
.c_input {color: #666666;Background-color:#FFFFFF; FONT-FAMILY: µ¸¿ò,arial; FONT-SIZE: 9pt;}.big_green { color: #97B715; FONT-FAMILY: "µ¸¿ò", "arial"; FONT-SIZE: 13px; text-decoration:none;line-height:13pt ; font-weight: bold }