a:link		{font-family:µ¸¿ò; font-size:12px; color:#545454; text-decoration:none; line-height:12pt;}
a:visited	{font-family:µ¸¿ò; font-size:12px; color:#545454; text-decoration:none; line-height:12pt;}
a:active	{font-family:µ¸¿ò; font-size:12px; color:#545454; text-decoration:none; line-height:12pt;}
a:hover		{font-family:µ¸¿ò; font-size:12px; color:#545454; text-decoration:underline; line-height:12pt;}

table, tr, td, body	{
	font-family: "µ¸¿ò", "Arial", "sans-serif", "helvetica"; font-size:12px; color: #545454; scrollbar-face-color: #f7f7f7; scrollbar-highlight-color: #ffffff; scrollbar-shadow-color: #cccccc; scrollbar-3dlight-color: #ffffff; scrollbar-arrow-color: #cccccc; scrollbar-track-color: #ffffff; scrollbar-darkshadow-color: #ffffff;
}
select, textarea {font-family: "µ¸¿ò", "Arial", "sans-serif", "helvetica"; font-size:12px; color: #545454; line-height:12pt; border:solid 1px #cccccc;}
input	{font-family:Tahoma,Verdana,Arial; font-size:12px; color:#545454; border:solid 1px #cccccc; height:21px;}
.submit	{border:none; height:auto;}

#mytd {padding: 2 9 0 8; cursor:hand; font-size: 9pt; color: #404040}
#mylink {color: #333333; text-decoration: none}
#mylink:link {color: #333333; text-decoration: none}
#mylink:visited {color: #333333; text-decoration: none}
#mylink:hover {color: #999999; text-decoration: underline}

.no_Line						{border:none; height:auto;}
.table_Left1					{padding-left:12px; padding-top:7px; color:#333333; font-weight:bold; background:#ffffff; width:150px; letter-spacing:-1; vertical-align:top;}
.table_Left1_Red				{padding-left:12px; padding-top:7px; color:#FF0000; font-weight:bold; background:#ffffff; width:150px; letter-spacing:-1; vertical-align:top;}
.table_Left2					{padding-left:12px; padding-top:7px; color:#333333; font-weight:bold; background:#ffffff; width:100%; letter-spacing:-1; vertical-align:top;}
.table_Left3					{padding-left:12px; padding-top:7px; color:#333333; font-weight:bold; background:#ffffff; width:130px; letter-spacing:-1; vertical-align:top;}
.table_Left4					{padding-left:12px; padding-top:7px; color:#333333; background:#ffffff; width:130px; letter-spacing:-1; vertical-align:top;}
.table_Left5					{padding-left:12px; padding-top:7px; color:#333333; font-weight:bold; background:#ffffff; width:110px; letter-spacing:-1; vertical-align:top;}
.table_Right1					{padding-top:5px; padding-bottom:5px;}

.leftMenuOn {color: #358bcb; font-weight: bold;}
.leftMenu {}

.table_Round1					{background:#9B8366; height:2px; border-left:2px #ffffff solid; border-right:2px #ffffff solid;}
.table_Txt1						{font-size:11px; padding:6 3 3 3; background:#9B8366; color:#FDF9CA; line-height:14pt; font-weight:bold; letter-spacing: -1;}
.table_ListSubText1				{padding:6 3 3 3; background:#FFFFFF; line-height:14pt;}
.table_ListSubLine1				{background:#efefef; height:1px;}
.table_ListSubBLine1			{background:#efefef; height:3px;}
.table_Select1					{width: 100%; border:solid 6px #f6f6f6; padding-left:20px; padding-right:20px;}
.table_Select2					{width: 100%; border:solid 1px #e6e6e6; background:f6f6f6;}
.table_SelectTdIn1				{border:solid 1px #dddddd;}

/* ¾È³»»óÀÚ */
.infobox {border:3px solid #BBA88F; padding:3}
.infotitle {font-weight:bold;font-size:9pt;color: #666666;}

/* °¡°Ý°ü·Ã */
.text_price1					{font-family:µ¸¿ò; font-size:8pt; letter-spacing:-1; font-weight:bold;}
.text_price2					{font-family:µ¸¿ò; font-size:8pt; letter-spacing:-1; font-weight:bold; color:#FF9B00;}
.text_price3					{font-family:µ¸¿ò; font-size:8pt; letter-spacing:-1; font-weight:bold; color:#036098;}
.text_price4					{font-family:µ¸¿ò; font-size:8pt; letter-spacing:-1; font-weight:bold; color:#298CC7;}
.text_price5					{font-family:µ¸¿ò; font-size:8pt; letter-spacing:-1; font-weight:bold; color:#f63025;}
.text_stock1					{font-family:µ¸¿ò; font-size:8pt; letter-spacing:-1; font-weight:bold; color:#aaaaaa;}
.text_site1						{font-family:µ¸¿ò; font-size:8pt; letter-spacing:-1;}

.table_SelectTdtop1				{padding-left:0px;}
.table_SelectTdLeft1			{width:20%; height:26px; padding-left:6px; color:333333; letter-spacing:-1; font-weight:bold; vertical-align:top;}

.clButtonCmd {
        color: #333333;
        background-image:url('/StoreAdmin/mgMarketing/images/btn_bg.gif');
        border-bottom: 1px solid #c9c9c9;
        border-right: 1px solid #c9c9c9;
        border-top: 1px solid #FFFFFF;
        border-left: 1px solid #FFFFFF;   
        cursor: hand;
        font-family: u, Verdana, Arial, Helvetica;
        font-size: 9pt;
        height:23px; padding-top:2px; border-top-width:1px
}

/*
.brn01{color:#2D2C2D}a.brn01:link{color:#2D2C2D;text-decoration:none}a.brn01:visited{color:#2D2C2D;text-decoration:none}a.brn01:active{color:#0000FF;text-decoration:underline}a.brn01:hover{color:#0000FF;text-decoration:underline}



.menu_off1						{background-color:ffffff;padding-top:9px; padding-left:8px; color:333333; height:29px; font-family:"±¼¸²"; letter-spacing:-1; font-size:9pt;}
.menu_on1						{padding-top:3px; padding-left:8px; height:30px; font-family:"±¼¸²"; letter-spacing:-2; font-weight:bold; border-right:3px #298CC7 solid; border-bottom:1px #ffffff solid; font-size:9pt; background:#FEB23D;}
.menu_line1						{border-right:3px #298CC7 solid; background:#dddddd; height:1px;}
.menu_txt1						{color:ffffff;}
.menu_on2						{background-color:ffffff; color:298CC7; padding:5 0 2 12; font-size:8pt; font-family:"µ¸¿ò"; letter-spacing:-1; border-left:8px #298CC7 solid; border-top:4px #298CC7 solid; border-bottom:4px #298CC7 solid; line-height:normal;}
.menu_off2						{background-color:298CC7; color:ffffff; padding-top:3px; padding-left:20px; font-size:8pt; font-family:"µ¸¿ò"; letter-spacing:-1; height:20px; line-height:normal;}

.table_Basic1					{width: 100%;}
.title_Sub1						{font-size:9pt; font-family:"µ¸¿ò"; letter-spacing:-1; font-weight:bold; color:#333333; height:30px;}

.title_SubRight1				{text-align: right; color:#545454; text-decoration: none;}
a.title_SubRight1:link			{font-size:12px; color:#545454; text-decoration:none; letter-spacing:-1;}
a.title_SubRight1:visited		{font-size:12px; color:#545454; text-decoration:none; letter-spacing:-1;}
a.title_SubRight1:active		{font-size:12px; color:#545454; text-decoration:none; letter-spacing:-1;}
a.title_SubRight1:hover			{font-size:12px; color:#000000; text-decoration:underline; letter-spacing:-1;}

.table_center1					{color:#333333; font-weight:bold; background:#ffffff; letter-spacing:-1;}
.table_Line1					{background:#efefef; height:1px;}
.table_Input1					{font-family:µ¸¿ò; font-size:12px; color:#545454; border:solid 1px #cccccc; height:18px; width:96%}
.table_TLine1					{background:#cccccc; height:3px;}
.table_BLine1					{background:#efefef; height:3px;}
.table_Text1					{padding:10 10 10 14; background:#f7f7f7; line-height:14pt;}

.table_ListTitleTop1			{background:#cccccc; height:3px;}
.table_ListTitleBottom1			{background:#efefef; height:2px;}
.table_ListTitleText1			{padding:6 3 3 3; background:#f6f6f6; color:#333333; line-height:14pt; font-weight:bold; letter-spacing: -1;}


.txt_hint1						{color:#333333; font-weight:bold;}
.txt_hint2						{color:#545454; font-weight:bold;}
.txt_hint3						{color:#68B720; font-weight:bold;}

.txt_Color1						{color:#F89D07;}
.txt_Color2						{color:#FF9B00;}
.txt_Color3						{color:#298CC7;}
.txt_Color4						{color:#333333;}

.txt_do9						{font-size:9pt; font-family:"µ¸¿ò"; letter-spacing:-1;}
.txt_gu9						{font-size:9pt; font-family:"±¼¸²"; letter-spacing:-1;}

.Select_Type1					{background:#ffffff; font-family:µ¸¿ò; font-size:12px;}
.bu_Type1						{width: 100%; padding-left:20px; padding-right:20px;}
.table_List1					{width: 100%; padding: 0 14 4 14;}
.table_Bar1						{width: 100%; padding:4px;}
.table_BasicTr1					{background:#036098;}


.table_BLine1					{background:#dddddd; height:1px;}
.table_BasicTr2					{padding-left:3px; padding-right:3px;}

.Select_PopType1				{background-color:#298CC7; color:#ffffff; font-family:µ¸¿ò; font-size:12px;}
.table_PopSelect1				{width:100%; border:solid 6px #f6f6f6; background:f6f6f6;}
.table_PopLine1					{background:#efefef; height:1px;}
.table_PopLeft1					{padding-right:12px; padding-top:5px; color:#333333; font-weight:bold; background:#ffffff; width:100px; letter-spacing:-1; text-align:right;}
.table_PopRight1				{padding-top:5px; padding-bottom:5px; background:#ffffff;}
.table_PopBox1					{border:solid 5px #f6f6f6;}
.table_PopList1					{height:24px;}
.table_PopListPoint1			{height:2px; background:#298CC7;}
.table_PopListPoint2			{height:2px; background:#298CC7;}
.table_PopListPoint3			{height:2px; background:#e6e6e6;}
.table_PopTitleList1			{height:26px; font-weight:bold; letter-spacing:-1; text-align:center; padding-top:5px;}
.table_PopHeadOut1				{height:52px; text-align:center; padding:10px;}
.table_PopHeadIn1				{text-align:center; background-image:url("/shop/admin/images_new/pop_titlebg.gif");}
.table_PopCloseOut1				{height:20px; text-align:center; padding:10px;}
.table_PopCloseIn1				{text-align:right; background-image:url("/shop/admin/images_new/pop_closebg.gif");}

.td_Bg1							{font-size:11px; background:#298CC7;}
a.td_Bg2:link					{font-size:11px; color:#ffffff; text-decoration:none;}
a.td_Bg2:visited				{font-size:11px; color:#ffffff; text-decoration:none;}
a.td_Bg2:hover					{font-size:11px; color:#ffffff; text-decoration:underline;}
a.td_Bg2:active					{font-size:11px; color:#ffffff; text-decoration:none;}
a.td_Bg3:link					{font-size:11px; color:#298CC7; text-decoration:none;}
a.td_Bg3:visited				{font-size:11px; color:#298CC7; text-decoration:none;}
a.td_Bg3:hover					{font-size:11px; color:#298CC7; text-decoration:underline;}
a.td_Bg3:active					{font-size:11px; color:#298CC7; text-decoration:none;}

.td_top1						{color:#ffffff; font-family:µ¸¿ò; font-size:11px; letter-spacing: -1; line-height:normal; padding-top:4px;}
.td_top2						{background:#ffffff; color:#298CC7; font-family:µ¸¿ò; font-size:11px; letter-spacing: -2; font-weight:bold; padding:4 10 0 10; line-height:normal;}

.table_Lineb1					{background:#6EC2F5;}
.table_Top1						{font-size:9pt; font-family:"µ¸¿ò"; letter-spacing:-1; font-weight:bold; color:#ffffff;}
.table_Point1					{border:5px #74BBF5 solid; background-color:#ffffff; padding:8 8 8 8;}
.table_Point2					{border:1px #6EC2F5 solid;}
.table_box1						{border:1px #e6e6e6 solid; background-color:#f3f3f3; padding:10 10 10 10;}
.table_box2						{border:1px #dddddd solid; background-color:#ffffff; padding:10 10 10 10;}

.txtinfo						{font-family:µ¸¿ò;font-size:8pt;color:46719E;line-height:14px;}
.hand_ok						{font-family:µ¸¿ò;font-size:8pt;color:CF4040;border:1px #E7A0A0 solid;background-color:F9E8E8;padding-top:3;}
.hand_re						{font-family:µ¸¿ò;font-size:8pt;color:4040CF;border:1px #A0A0E7 solid;background-color:E8E8F9;padding-top:3;}

.tatop_lt						{background:#B2CEE7; height:3px}
.tatop_lb						{background:#B2CEE7; height:1px}
.tatop_txt						{font-size:8pt; font-family:"µ¸¿ò"; letter-spacing:-1; color:#558BBB}
.tatop_lp						{font-size:9pt; font-family:"µ¸¿ò"; font-weight:bold; color:#F89D07}
.tatop_line						{background:#e6e6e6; height:1px}
.tatop_lr						{background:#F0F8FF; height:26px;}

.main_t							{height:28px;}

.m_a4							{font-size:8pt;font-family: "µ¸¿ò";letter-spacing:-2;}
.ww								{font-size:9pt;font-family: "µ¸¿ò";vertical-align:middle; border:0px #FFFFFF solid; background-color:FFFFFF;color:565656}

.br4							{line-height:5px;}

.bu_height1						{height:50px;}

.selete_color1					{background:#319ACE;color:#ffffff;}

.tasub_ta						{border:3px #f6f6f6 solid;}
.tasub_bar						{background:#298CC7; height:24; padding-top:4px; text-align:center; color:#ffffff;}
.tasub_left						{width:220px; padding:6 0 4 8; font-family:"µ¸¿ò"; letter-spacing:-1; font-weight:bold;}
.tasub_right					{background:#ffffff;}
.tasub_line						{height:1px; background:#e6e6e6;}

.layout_img						{text-align:center}

legend							{color:#585858;}
*/