<!--
body{margin:10px}

td, div, form, textarea, center, pre, blockquote
{
	font-size: 12px;
	color: #666666;
	font-style: normal;
	font-family: "돋움", "굴림", "굴림체","Verdana","tahoma","새굴림";
	line-height: 16px;
	word-spacing: 0px;
}

option, select
{
	font-size: 12px;
	font-style: normal;
	font-family: "돋움", "굴림", "굴림체","Verdana","tahoma","새굴림";
	line-height: 16px;
	word-spacing: 0px;
}

BODY {
	scrollbar-face-color: #F2F2F2;
	scrollbar-shadow-color: #B7B7B7;
	scrollbar-highlight-color: #F2F2F2;
	scrollbar-3dlight-color: #F2F2F2;
	scrollbar-darkshadow-color: #E9E9E9;
	scrollbar-track-color: #E9E9E9;
	scrollbar-arrow-color: #999999;
}

TEXTAREA
{
 	border:1px solid #D0D0D0;
	LINE-HEIGHT: 17px;
	padding:0 5 0 5;
	background-color:#FAFAFA;
	scrollbar-face-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #DFDFDF;
	scrollbar-darkshadow-color: #DFDFDF;
	scrollbar-track-color: #DFDFDF;
	scrollbar-arrow-color: #333333;
	overflow: auto;
}

/**** scroll ****/

BODY { scrollbar-3dlight-color:#CFCFCF;left-margin:0px;
scrollbar-arrow-color:#666666;
scrollbar-track-color:#FFFFFF;
scrollbar-darkshadow-color:#ffffff;
scrollbar-face-color:#F4F4F4;
scrollbar-highlight-color:#ffffff;
scrollbar-shadow-color:#CFCFCF;
}

/**** link ****/

A:link {COLOR: #666666; TEXT-DECORATION: none}
A:visited {COLOR: #666666; TEXT-DECORATION: none}
A:active {COLOR: #666666; TEXT-DECORATION: none}
A:hover {text-decoration: underline;}

/**** TD ****/
.td_basic{
	font-size:12px; line-height:30px; aling:center; padding: 0 5 0 5;}

.td_redtext{ color: #FF3300;}
.TD {
	FONT-SIZE: 9pt; COLOR: #68594B; FONT-FAMILY: Verdana,굴림
}
/**** form ****/
.font_white{  font-size:12px; line-height:16px; aling:center; color: #FFFFFF;}
.font_bule{  font-size:12px; line-height:16px; aling:center; color: #00FFFF;}
.font_green{  font-size:12px; line-height:16px; aling:center; color: #00FF00;}
.font_yellow{  font-size:12px; line-height:16px; aling:center; color: #FFF200;}
.font_wine{  font-size:12px; line-height:16px; aling:center; color: #67013F;}
.font_brown{  font-size:12px; line-height:16px; aling:center; color: #662303;}
.font_purple{  font-size:12px; line-height:16px; aling:center; color: #662D91;}

.font_s_white{  font-size:11px; line-height:16px; aling:center; color: #FFFFFF;}
.font_s_pink{  font-size:11px; line-height:16px; aling:center; color: #F49AC1;}
.font_s_black{  font-size:11px; line-height:16px; aling:center; color: #303030;}
.font_s_purple{  font-size:11px; line-height:16px; aling:center; color: #BAA9C0;}

.line01 {
	BACKGROUND-COLOR: #ECECEC
}
.table_font {COLOR: #839252;}
.table_font_cyan {COLOR: #249F98;} 
.table_font_shop {COLOR: #20739D;}
.table_font_mymenu {COLOR: #4D8EC0;}
.table_font_home {COLOR: #9244A2;}
.num {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
.custom {
	FONT-SIZE: 11px; COLOR: #777777; LINE-HEIGHT: 14px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: justify
}

.custom2 {
	FONT-SIZE: 11px; COLOR: #777777; LINE-HEIGHT: 23px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: justify
}
.bold_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}

INPUT.index_text {BORDER-RIGHT: #E6E6E6 1px solid; BORDER-TOP: #E6E6E6 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #E6E6E6 1px solid; COLOR: #444444; BORDER-BOTTOM: #E6E6E6 1px solid; BACKGROUND-COLOR: #F8F8F8}
INPUT.text {BORDER-RIGHT: #CCCCCC 1px solid; BORDER-TOP: #CCCCCC 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #CCCCCC 1px solid; COLOR: #444444; BORDER-BOTTOM: #CCCCCC 1px solid; BACKGROUND-COLOR: #FAFAFA}
INPUT.radio	{ HEIGHT: 15px;}
INPUT.checkbox { HEIGHT: 15px;}

.noborder {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}

.input_white{COLOR: #FFFFFF;}
.small2 {FONT-SIZE: 8pt; FONT-FAMILY: "돋움"; LETTER-SPACING: -1px}
.small {FONT-SIZE: 8pt; FONT-FAMILY: "돋움"; LETTER-SPACING: 0px}
.height {line-height: 19px;}
.hidden{position:absolute;visibility:hidden}

.cast	{color:#A48EE2}
.cast_b	{color:#A48EE2;font-weight:bold}
.txt_yellow_b {color:#FFBC33;font-weight:bold} /* previewPop 영화제목 : 040526 공인식 추가 */
.border     {border:1px solid #ABA79E}
.tahoma7{font-size:7pt;font-family:tahoma;}
.tahoma8{font-size:8pt;font-family:tahoma;}
.no_Line	{border:none; height:auto;}

/**** Hyun Il ****/
.td_01 {font-size:8pt;font-family: "tahoma";letter-spacing:-1;}
.input_01 {font-family: "tahoma"; border-right: #ffffff 1px solid; border-top: #999999 1px solid; padding-left: 3px; font-size: 12px; border-left: #999999 1px solid; color: #666666; border-bottom: #ffffff 1px solid; background-color:#f3f3f3}
.input_02 {border-right: #ffffff 1px solid; border-top: #FFFFFF 1px solid; padding-left: 3px; font-size: 12px; border-left: #FFFFFF 1px solid; color: #666666; border-bottom: #FFFFFF 1px solid; padding-top:3;}

#mytd {padding: 2 9 0 8; cursor:hand; font-size: 9pt; color: #404040}
#mylink {color: #333333; text-decoration: none}
#mylink:link {color: #333333; text-decoration: none}
#mylink:visited {color: #333333; text-decoration: none}
#mylink:hover {color: #999999; text-decoration: underline}

/* ---------------------- Dolphin nav ---------------------- */
#dolphincontainer{position:relative;height:56px;color:#E0E0E0;background:#143D55;width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;}
#dolphinnav{position:relative;height:33px;font-size:12px;text-transform:uppercase;font-weight:bold;background:#fff url(images/dolphin_bg.gif) repeat-x bottom left;padding:0 0 0 20px;}
#dolphinnav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#dolphinnav ul li{display:block;float:left;margin:0 1px;}
#dolphinnav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;padding:0 0 0 20px;height:33px;}
#dolphinnav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
#dolphinnav ul li a:hover{color:#fff;background:transparent url(images/dolphin_bg-OVER.gif) repeat-x bottom left;}
#dolphinnav ul li a:hover span{display:block;width:auto;cursor:pointer;}
#dolphinnav ul li a.current,#dolphinnav ul li a.current:hover{color:#fff;background:#1D6893 url(images/dolphin_left-ON.gif) no-repeat top left;line-height:275%;}
#dolphinnav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;background:#1D6893 url(images/dolphin_right-ON.gif) no-repeat top right;height:33px;}
/* ---------------------- END Dolphin nav ---------------------- */