@charset "euc-kr";
/* ------------------------------------------------------------
 * Name      : layout.css
 * Desc      : 선문대학교 정보전산센터 layout Style
 * Created   : 2011/07/
 * Updated   :
 ------------------------------------------------------------ */
 
/* 공통 */
.contents {position:relative; float:left; width:702px; margin-top:40px;}

#content_tap {padding-top:35; width:700px; height:65px; clear:both; overflow:hidden;} 
#content_tap div { float:left; }

.float_left { float:left; }
.float_right { float:right; }




/* 불릿 */ 
.lst_devreg {position:relative; float:left; display:inline; width:700px; padding-left:0 ;}  
.lst_devreg li {padding-left:0; background:url('../images/common/bu.gif') no-repeat 0 8px; line-height:20px; }  
.lst_devreg li em { color:#f84e12; }

/* 이미지와 텍스트 가변형 : 이미지 좌측 */
.img_row ul {margin:0px; padding-left:1px;}  
.img_row li {position:relative; padding:3px 0; margin:0 0 -1px 10px; vertical-align:top; *zoom:1; padding-left:1px;}  
.img_row li:after {display:block; clear:both; content:"";}
.img_row .thumb {display:inline-block; float:left; margin:0 0 0 0; -moz-box-shadow:0 0 5px #666; -webkit-box-shadow:0 0 5px #666;}  
.img_row .thumb img {display:block;}  
.img_row p {margin:0;}

/* 이미지와 텍스트 가변형 : 이미지 우측 */
.img_rowR ul {margin:0; padding:0;}  
.img_rowR li {position:relative;  margin:0 0 5px 35px; vertical-align:top; *zoom:1; color:#7b54b0;}   
.img_rowR li:after {display:block; clear:both; content:"";}
.img_rowR .thumb {display:inline-block; float:right; margin:0 0 0 15px; -moz-box-shadow:0 0 5px #666; -webkit-box-shadow:0 0 5px #666;}  
.img_rowR .thumb img {display:block;}  
.img_rowR p {margin:0;}

/* 이미지와 텍스트 고정형 : 이미지 좌측 */
.img_rowF ul {margin:0; padding:2;}  
.img_rowF li {position:relative; margin:0 0 -1px 0; padding:5px 0 1px 5px; vertical-align:top; *zoom:1; color:#3399CC;}  
.img_rowF li:after {display:block; clear:both;content:"";} 
.img_rowF 
.img_rowF .thumb {display:inline; overflow:hidden; float:left; position:relative; width:185px; margin:0 5px 0 1px;  -moz-box-shadow:0 0 5px #666;-webkit-box-shadow:0 0 50px #666; }  
/*.img_rowF .thumb img {display:block;} */ 
.img_rowF .thumb em {visibility:hidden; position:absolute;top:50%; left:0; width:1px; height:1px; margin:-90px 0 0 0; background:#000; font-weight:bold; font-style:normal; color:#fff;text-align:center; opacity:.6; filter:alpha(opacity=60);}  
.img_rowF .thumb em {_visibility:visible; _top:0; _width:100% ;_height:auto; _margin:0; _line-height:20px;}  
.img_rowF p {margin:0;}
.img_rowF .lst_devreg ul{position:relative; width:90%; margin:20px 0 -1px 0; border:#00FF00 solid 1px;}  
.lst_devreg li {position:relative; padding-left:29px;}  
/*lst_devreg*/

/* 이미지와 텍스트 고정형 : 이미지 우측 */
.img_rowFR ul {margin:0; padding:0;}  
.img_rowFR li {position:relative; margin:0 0 -1px 0; padding:15px 175px 15px 0; vertical-align:top; *zoom:1;}  
.img_rowFR li:after {display:block; clear:both;content:"";}  
.img_rowFR .thumb {display:inline; overflow:hidden; float:right; position:relative; width:160px; margin:0 -175px 0 15px; background:#eee; text-align:center; -moz-box-shadow:0 0 5px #666;-webkit-box-shadow:0 0 5px #666;}  
.img_rowFR .thumb img {display:block;}  
.img_rowFR .thumb em {visibility:hidden; position:absolute;top:50%; left:0; width:1px; height:1px; margin:-90px 0 0 0; background:#000; font-weight:bold; font-style:normal; color:#fff;text-align:center; opacity:.6; filter:alpha(opacity=60);}  
.img_rowFR .thumb em {_visibility:visible; _top:0; _width:100% ;_height:auto; _margin:0; _line-height:20px;}  
.img_rowFR p {margin:0;}    



/* table type1 */

table.tType1 {position:relative; float:left; display:inline; border-collapse:separate; table-layout:fixed; border-top:2px solid #0a6fa3;}
table.tType1 caption {display:none;}
table.tType1 thead th {padding:6px; border-bottom:1px solid #e5e5e5; background:#f4f4f4; text-align:center; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; vertical-align:middle;}
table.tType1 thead th.fL {border-left:1px solid #e5e5e5;}
table.tType1 thead th.bg {background:#fbfbfb;}
table.tType1 thead th.top {vertical-align:top;}
table.tType1 tbody td {padding:5px; text-align:center; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#2f3743; vertical-align:middle; }
table.tType1 tbody td.aL {text-align:left;}
table.tType1 tbody td.fL {border-left:1px solid #e5e5e5;}
table.tType1 tbody td.vt {vertical-align:top;}
 
 
/* table type2 */

table.tType2 {position:relative; float:left; display:inline; border-collapse:separate; table-layout:fixed; border-top:2px solid #0a6fa3;}
table.tType2 caption {display:none;}
table.tType2 thead th {padding:6px; border-bottom:1px solid #e5e5e5; background:#f4f4f4; text-align:center; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; vertical-align:middle;}
table.tType2 thead th.fL {border-left:1px solid #e5e5e5;}
table.tType2 thead th.bg {background:#fbfbfb;}
table.tType2 thead th.top {vertical-align:top;}
table.tType2 thead th.suntw1 {width:170px;}
table.tType2 thead th.suntw2 {width:100px;}
table.tType2 thead th.suntw3 {width:280px;}
table.tType2 tbody td {padding:5px; text-align:center; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#2f3743; vertical-align:middle; }
table.tType2 tbody td.aL {text-align:left; padding:5px 5px 5px 20px;}
table.tType2 tbody td.fL {border-left:1px solid #e5e5e5;}
table.tType2 tbody td.vt {vertical-align:top;}


.t_sc{ /*사이드 클리어 테이블*/
	border-top-width: 2px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	/*background-color:#f9f9f9;*/
}



.t_1{ /*가로 두 칸 테이블*/
	border-top-width: 2px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #3399CC;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	background-color:#f9f9f9;
}

.t_11{ 
	border-top-width: 2px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #3399CC;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	background-color:#f9f9f9;
}

.t_12{ /*가로 두 칸 테이블*/
	border-top-width: 2px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #16bbce;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_13{ /*가로 두 칸 테이블*/
	border-top-width: 12px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:  #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	background-color:#f9f9f9;
}

.t_14{ /*가로 두 칸 테이블*/
	border-top-width: 12px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:  #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	background-color:#f9f9f9;
}

.t_111{ 
	border-top-width: 2px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#16bbce;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	background-color:#f9f9f9;
}


.t_112{ /*가로 두 칸 테이블*/
	border-top-width: 2px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_122{ /*가로 두 칸 테이블*/
	border-top-width: 2px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_13{ /*가로 두 칸 테이블*/
	border-top-width: 0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	background-color:#f9f9f9;
}

.t_14{ /*가로 두 칸 테이블*/
	border-top-width: 0px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	background-color:#f9f9f9;
}


.t_15{ /*가로 두 칸 테이블*/
	border-top-width: 2px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #16bbce;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_2{ 
	border-top-width: 0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_20{ 
	border-top-width: 0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 5px;
}

.t_21{ 
	border-top-width: 0px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_22{ 
	border-top-width: 0px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_25{ 
	border-top-width: 3px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}
.t_26{ 
	border-top-width: 3px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_27{ 
	border-top-width: 0px;
	border-right-width:0px;
	border-bottom-width:3px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_28{ 
	border-top-width: 3px;
	border-right-width:0px;
	border-bottom-width:3px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_212{ 
	border-top-width: 1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_213{ 
	border-top-width: 1px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_322{ 
	border-top-width: 0px;
	border-right-width:0px;
	border-bottom-width:3px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_223{ 
	border-top-width: 0px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	background-color:#f9f9f9;
}
.t_313{ /*가로 두 칸 테이블*/
	border-top-width: 0px;
	border-right-width:1px;
	border-bottom-width:3px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
	background-color:#f9f9f9;
}

.t_312{ 
	border-top-width: 1px;
	border-right-width:1px;
	border-bottom-width:3px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dcdcdc;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}

.t_322{ 
	border-top-width: 0px;
	border-right-width:0px;
	border-bottom-width:3px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #da4421;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	border-left-color: #dcdcdc;
	padding: 5px 0px 5px 10px;
}



/* content type1 */

h4.sunmoon1-1{padding-left:2px;margin-bottom:3px;bold;text-align:left;color:#0099FF;}
h4.sunmoon1-2{padding-left:40px;margin-bottom:3px;bold;text-align:left;color:#0099FF;}


ul.sun01{padding-left:12px;}
ul.sun01 li{margin-bottom:8px; padding:4px 4px 4px 4px;}
ul.sun01 li.moon01{margin-bottom: 2px;}
ul.sun02{padding-left:32px; margin-bottom:10px;}
ul.sun02 li.moon01{margin-bottom:1px; padding:1px 1px 1px 0;}
ul.sun03{padding-left:60px; margin-bottom:10px;}
ul.sun03 li{margin-bottom:1px; padding:1px 1px 1px 0;}
ul.sun03 li.moon02{margin-bottom:1px; padding:1px 1px 1px 18px;}
ul.sun03 li.moon03{margin-bottom:1px; margin-left:-10px;}

ul.sun04{padding-left:1px; }
ul.sun04 li{margin-bottom: 2px; padding:10px 10px 3px 0;}




ol.sun01{padding-left:16px; margin-bottom:10px;}

ul.sitemap01{position:relative; float:left; display:inline; width:729px; padding-left:50px;}
ul.sitemap01 li{padding-left:1px; padding:2px 2px 2px 2px;}

ul.sitemap02{padding-left:25px;}
ul.sitemap02 li{margin-bottom:2px; padding:2px 2px 2px 2px;}
