@charset "euc-kr";
/* ------------------------------------------------------------
 * Name      : layout.css
 * Desc      : 신학대학 layout Style
 * Created   : 2012/2/
 * Updated   :
 ------------------------------------------------------------ */
/* skip navigation */
#skipNavi {position:absolute; width:0; height:0; font-size:0; line-height:0; left:-10000;  overflow:hidden;  }

/* Layout */
#wrapAll {position:relative; width:100%; z-index:1;}
#header {position:relative; width:1000px; z-index:10; margin:0 auto;}
#header #gnb {position:relative; float:left; width:1000px; z-index:0px;}
#topVisual {position:relative; float:left; width:1000px; height:100px; font-size:0; line-height:0; margin-top:5px;}
#container {position:relative;  float:left; width:1000px; margin-top:16px; z-index:-5;}

#container #leftArea { position:relative; float:left; width:210px; padding-bottom:10px; z-index:1;  margin-left:20px;}
#container #midArea { position:relative; float:left; width:750px; z-index:1;}
#container #midArea #contentsArea { position:relative; float:left; width:710px; padding:3px 5px 10px 20px; margin-left:25px; display:inline; }



#footer {position:relative; float:left; width:100%; height:80px; background-color:#e4e4e4;}


/* gnb */

#gnb .topMenu {position:relative; float:left; width:1000px; height:38px; display:inline; font-size:0; line-height:0;}
.topMenu ul {position:relative; float:right; display:inline; margin:5px 5px 0 10px;}
.topMenu ul li {position:relative; float:left; display:inline; margin:0 5px 0 5px;}


#gnb .topLogoArea {position:relative; float:left; width:350px; display:inline; margin-top:1px;}
.topLogoArea ul {position:relative; float:left; width:210px; display:inline;}
.topLogoArea ul li {position:relative; float:left; display:inline; margin-left:7px;}

/*

#gnb .topMenu {position:relative; float:right; width:600px; display:inline; font-size:0; line-height:0; background:url('../images/common/top_bg.gif') left top no-repeat; }
.topMenu ul {position:relative; float:right; display:inline; margin:10px 15px 0 5px;}
.topMenu ul li {position:relative; float:left; display:inline; margin:0 5px 0 10px;}

*/

#gnb .topNavi {position:relative; float:right; width:630px; height:60px; margin:1px 2px 2px 1px; background:url('../images/common/top_navibg.jpg') left top no-repeat;}
.topNavi ul { position:relative; float:left; display:inline; margin-left:30px; margin-top:3px;}
.topNavi ul li.menu {position:relative; float:left; display:inline; z-index:1; margin:4px 2px 20px 42px;}
.topNavi ul li.menu2 {position:relative; float:left; display:inline; z-index:1; margin:4px 5px 0 23px;}
.topNavi ul li.menu3 {position:relative; float:left; display:inline; z-index:1; margin:6px 70px 0 40px;}
/*.topNavi ul li.div {position:relative; float:left; display:inline; margin:3px 28px 0 22px;}*/



.topSub {position:absolute;  height:25px; top:31px; left:-20px; z-index:90;}
.topSub ul {position:relative; float:left; margin-top:2px;}
.topSub ul li {position:relative; float:left; display:inline;  height:20px; margin:3px 5px 15px 11px; }

.topSub05 {position:absolute;  height:25px; top:31px; left:-250px; z-index:90;}
.topSub05 ul {position:relative; float:left; margin-top:2px;}
.topSub05 ul li {position:relative; float:left; display:inline;  height:20px; margin:3px 5px 15px 10px;}

	
	#top2m1 {left:-10px; width:350px; background:url('../images/common/submenubg01.gif') left top no-repeat;}
	#top2m2 {left:-20px; width:350px; background:url('../images/common/submenubg03.gif') left top no-repeat;}
	#top2m3 {left:-30px; width:200px; background:url('../images/common/submenubg03.gif') left top no-repeat;}
	#top2m4 {left:170px; width:350px; background:url('../images/common/submenubg03.gif') left top no-repeat;}

	


.topSub ul li a:link { color:#fff; text-decoration:none; }
.topSub ul li a:visited { color:#fff; text-decoration:none; }
.topSub ul li a:hover { color:#000; text-decoration:none; }
.topSub ul li a:active { color:#fff; text-decoration:none; }
.topSub ul li a:focus { color:#fff; text-decoration:none; }

.topSub05 ul li a:link { color:#fff; text-decoration:none; }
.topSub05 ul li a:visited { color:#fff; text-decoration:none; }
.topSub05 ul li a:hover { color:#333; text-decoration:none; }
.topSub05 ul li a:active { color:#fff; text-decoration:none; }
.topSub05 ul li a:focus { color:#fff; text-decoration:none; }




/* lnb */
#leftArea .lnb {position:relative; float:left; width:220px; margin-top:3px; z-index:1;}
.lnb {position:relative; float:left; width:220px; margin-top:3px; z-index:1;}
.lnb h2 {position:relative; float:left; width:182px; height:37px;}
.lnb h3 {position:relative; float:left; width:182px; height:37px;}
.leftNavi {position:relative; float:left; width:182px; margin:10px 0 0 0; display:inline; }
.leftNavi ul.deph1 {position:relative; float:left; width:182px; }
.leftNavi ul li.menu1 {position:relative; float:left; width:182px; margin:5px 0 5px 0; display:inline;}
.leftNavi ul.deph2 {position:relative; float:left; width:182px;}
.leftNavi ul li.menu2 {position:relative; float:left; width:182px; margin:1px 0 4px 10px; background:url('../images/life/lnb_depth01_01_linebg.gif') left top no-repeat;}
.leftNavi ul.deph3 {position:relative; float:left; width:151px; margin-left:30px;}
.leftNavi ul li.menu3 {position:relative; float:left; width:182px;  margin-top:15px; display:inline;}




/*.banL {position:relative; float:left; width:217px; margin-top:30px;}*/


/* Page History */
#contentsArea .pageHis {position:relative; float:left; width:702px; margin-top:5px;}
.pageHis ul { position:relative; float:right; }
.pageHis ul li { position:relative; float:left; background:url('/images/common/bu_pageHis.gif') left 3px no-repeat; padding-left:18px; font-size:11px;}

/* ptitArea */
#contentsArea .ptitArea {position:relative; float:left; width:702px; height:35px; margin-top:14px;}
#contentsArea .ptitArea h3 {position:relative; float:left; height:35px; z-index:-10px;}


/* footer */
#footer .footerArea { position:relative; width:1000px; height:90px; margin:0 auto; }
.footerArea dl { position:relative; float:left;  width:1000px; display:inline; margin-top:20px; }
.footerArea dl dt { position:relative; float:left; width:150px; display:inline; margin-left:7px; }
.footerArea dl dd.no3 { position:relative; float:left; width:330px; display:inline; margin:0 0 0 410px; }
.footerArea dl dd.no4 { position:relative; float:left; width:320px; display:inline; margin:0 0 0 520px;}

#footer .counter { position:relative; float:right; width:150px; height:20px; margin:0 auto;  margin:0 1px 0 1px;}
