@charset "euc-kr";
/* ------------------------------------------------------------
 * Name      : service.css
 * Desc      : 신학대학 기본 CSS Style
 * Created   : 2012/2/
 * Updated   :
 ------------------------------------------------------------ */

/* Layout */

#maintopVisual {position:relative; float:left; width:1000px; height:303px; font-size:0; line-height:0; margin-top:10px;}

#main_container {position:relative;float:left; width:1000px; height:160px; margin-top:0px;}

#container_sub01 {position:relative; float:left; width:1000px; margin:0 0 0 0; padding-bottom:10px;}
#container_sub02 {position:relative; float:left; width:1000px; display:inline; margin:0 0; border:#99CC00 1px solid;}

/*#h1.mainvisualimg{padding-left:0px;margin-bottom:3px;bold;text-align:left; background:url('/images/main/topVisual2.jpg') left top  no-repeat;}*/




.notice {position:relative; float:left; width:330px; height:120px; margin-top:2px; padding-left:10px;}
.notice h1 {position:relative; float:left; width:100px; height:16px; z-index:1;margin-top:5px;}
.notice p.btn {position:absolute; width:34px; height:11px; top:11px; right:30px; z-index:10;}
.notice ul {position:relative; float:left; width:310px;  height:90px; margin-top:19px;}
.notice ul li {position:relative; float:left; width:250px; margin-top:3px; background:url('/images/main/bu_list.gif') left 5px no-repeat; padding-left:8px; line-height:18px;}



.baner01 {position:relative; float:left; width:1000px; height:88px;  margin-top:0px; margin-left:0; padding-bottom:1px;}
.baner01 ul{position:relative; float:left; width:1000px;  margin-top:2px;}
.baner01 ul li{position:relative; float:left; display:inline; margin:0 0;}


.baner02 {position:relative; float:left; width:300px; height:120px;  margin-top:6px; margin-left:15px; padding-bottom:1px;}
.baner02 ul{position:relative; float:left; width:300px;}
.baner02 ul li{position:relative; float:left; display:inline;  margin:0 13px;}


.baner03 {position:relative; float:left; width:300px; height:120px;  margin-top:6px; margin-left:15px; padding-bottom:1px;}
.baner03 ul{position:relative; float:left; width:300px;}
.baner03 ul li{position:relative; float:left; display:inline;  margin:0 13px;}

